.tableCellTitle {
  font-size: 14px;
  color: #3a38bb !important;
  padding: 24px 32px;
  border-bottom: none;
  // width: 275px;
  font-weight: 600 !important;
}
.tableRow {
  border-radius: 5px;

  > .MuiTableCell-root:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > .MuiTableCell-root:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.tableBody {
  > .MuiTableRow-root:last-child {
    border-bottom: 1px solid #e5e5e5 !important;
  }
  > .MuiTableRow-root:nth-child(odd) {
    background-color: #f3f3f3 !important;
  }
}
